@tailwind base;
@tailwind components;
@tailwind utilities;

.text-border{
  -webkit-text-stroke: 1px black;
}


.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

#body{
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;

}